.holdAll {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.holdImage {
  width: 50%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
}

.holdButton {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
